 body {
  padding-top: 70px;
  background-image: asset-url('wooden-background.jpg')
}
.container h1 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 58px;
  color: black;
  font-family: 'Playfair Display', serif;
}
